
.my-header-bg{
    background-color: #fff !important;
    height: 55px !important;
    font-color:black !important;
    
}
.services .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 0 0 40px 0;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    border-radius: 42px;
    text-align: center;
    border-bottom: 3px solid #fff;
}
.register-btn{
    margin-right: -40px !important;
    border-radius: 50px !important;
    background: black;
}



.php-email-form{
    width: 100%;
    border-top: 3px solid #b99a45;
    border-bottom: 3px solid #b99a45;
    padding: 30px;
    background: #fff;
    
}

.flex-center{
    align-items:center;
}

.circle-icon{
    height:50px;
    width:50px;
    border-radius:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#b99a45;
    border:5px solid #b99a45;
    color:#fff;
    margin-left: -20px;
    margin-right: 10px;
    transform:scale(1.2);

}

.accordion-item{
    border:0px !important;

}

.accordion-button:not(.collapsed){
    border:0px !important;
    color:#b99a45;
    background:#fff;
    box-shadow: 0 2px 25px -3px rgba(0,0,0,0,1);
}
.accordion-body{
    margin-top:15px;
    padding:25px;
    background:#fff;
    border-radius:5px;
    box-shadow: 0 2px 25px -3px rgba(0,0,0,0,1);

}

.card-img-top {
    transition: transform 0.3s ease-in-out; 
  }
  
  
  .card-img-top:hover {
    transform: scale(1.1); 
  }


  .login-background{
    width: 100%;
    border-top: 3px solid #b99a45;
    border-bottom: 3px solid #b99a45;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 #b99a45;
  }
  


  .banner-slider img {
    width: 100%;
    height: auto;
  }
  .thumbnail-image {
    cursor: pointer;
    margin-bottom: 10px;
  }
  .thumbnail-image img {
    width: 100%;
    height: auto;
  }
  .product-details-desc {
    padding: 20px;
  }
  .add-cart-btn {
    margin-top: 20px;
  }
  .wdp-ribbon {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    padding: 5px 10px;
    border-radius: 5px;
  }

  #item-row {
    display: flex;
    flex-wrap: nowrap; /* Prevent items from wrapping */
    overflow-x: auto; /* Enable horizontal scrolling */
    scroll-snap-type: x mandatory; /* Enable snap-scrolling */
}

.item {
    flex: 0 0 auto; /* Prevent items from growing or shrinking */
    scroll-snap-align: start; /* Ensure items snap to the start of the container */
}

/* Cart table styles */
.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-table th, .cart-table td {
    padding: 8px;
    border: 1px solid #FFEBB2;
    
    
}

.cart-table thead th {
    background-color: black;
    color: #fff;
    text-align: left;
}

/* Cart buttons styles */
.empty-cart-btn, .remove-item-btn, .checkout-btn {
    display: inline-block;
    padding: 10px 20px;
    /* background-color: black; */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

.empty-cart-btn:hover, .remove-item-btn:hover, .checkout-btn:hover {
    background-color: #b99a45;
}

/* Cart wrapper styles */
.cart-wrapper {
    margin-bottom: 20px;
}



  .item-grid {
    width: 25%; 
    float: left; 
    box-sizing: border-box; 
    padding: 0 15px; 
}
.item-grid img {
    pointer-events: none;
}

.item-grid:hover img {
    pointer-events: auto;
}
--------------itemprice-----------
.price-value {
    font-weight: bold;
    color: #333 !important; 
    
}
.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.item-link {
    color: #fff !important ;
    text-decoration: none;
}

.item-link:hover {
    text-decoration: underline;
}

